.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff; /* اللون الأزرق */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chatbot-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.chatbot-icon .icon {
  width: 40px;
  height: 40px;
}

/* نافذة البوت */
.chatbot-container {
  width: 270px;
  height: 500px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}